@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.menu {
    position: absolute;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 99;
}


.main_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_bar li {
    margin-left: 30px;
    list-style: none;
}

.main_bar li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}


.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
}

.content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 700px;
    top: 10%;
}




.img_box img {
    max-width: 100%;

}

.text {
    max-width: 600px;
}

.circle {
    position: absolute;
    clip-path: circle(600px at right 800px);
    background-color: #CB1F3D;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
}

@media(max-width: 590px) {
    .content {
        flex-direction: column;
    }

    .circle {
        width: 50%;
        height: 50%;
    }
}

.text h1 {
    font-size: 4rem;
    font-weight: 700;
}

.text h1 span {
    color: #CB1F3D;
}

.text p {
    font-weight: 300;
    margin-top:10px;
    display: inline-block;
}

.text a {
    display: inline-block;
    padding: 15px 35px;
    background-color: #CB1F3D;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 25px;
    cursor: pointer;
}


.sci  {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
    cursor: pointer;
    
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
}

.sci img {

    filter: invert(1);
   
}

.thumb {
    position: absolute;
    left: 45%;
    bottom: 0px;
    transform: translateX(-50%);
    display: flex;
}

.thumb ul {
    display: flex;
    justify-content: center;
}
.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    transition: 0.5s;
    cursor: pointer;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    width: 80px;
    
}